[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 14.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0
