[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 14.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 14.0
